<section class="hero">
  <h2>Welcome to the Tech Blog</h2>
  <p>Discover the latest tech news, insights, and discussions.</p>
</section>

<section class="post-list">
  {{#each posts as |post|}}
    <article class="post">
      <h3 class="post-title"><a class="post-title-link" href="/post/{{post.id}}">{{post.title}}</a></h3>
      <p class="post-content">{{truncate post.content 750}}<a class="read-more" href="/post/{{post.id}}">Read More</a></p>
      <p class="post-time">@{{post.user.username}} • <small>{{format_date post.createdAt}}</small></p>
    </article>
  {{/each}}
</section>