<section class="single-post">
  <article class="post">
    <h2 class="s-post-title">{{post.title}}</h2>
    <p class="s-post-content">{{post.content}}</p>
    <p class="s-post-time">@{{post.user.username}} • <small>{{format_date post.createdAt}}</small></p>
  </article>

  <section class="comments">
    <h3>Comments</h3>
    <div class="comment-list" data-post-id="{{post.id}}">
      {{#each post.comments as |comment|}}
        {{> comment comment=comment isCurrentUser=../logged_in}}
      {{/each}}
    </div>
  </section>

  {{#if logged_in}}
    <form class="add-comment-form" data-post-id="{{post.id}}">
      <textarea name="comment" placeholder="Add a comment..."></textarea>
      <button type="submit">Submit</button>
    </form>
  {{else}}
    <p class="login-message"><a class="login-post-link" href="/login">Log in</a> to add a comment</p>
  {{/if}}
</section>